*{
    margin: 0;
    padding: 0;
    outline: 0;
}
nav{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    font-family: Orbitron;
    font-size: 20px;
}
.list li{
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}
.list li:hover{
    font-weight: 600;
    cursor: pointer;
    border-bottom: 3px solid #000;
}
.button-group div{
    display: inline;
}
#brand-logo{
    width: 120px;
    height: auto;
    cursor: pointer;
}
#brand-logo-div{
    margin-left: 20px;
    margin-right: auto;
}
.button-group{
    margin-right: 150px;
    margin-left: auto;
}
.banner{
    display: flex;
    padding-top: 80px;
}
.hero-container{
    display: flex;
    flex-direction: row;
    position: relative;
}
.hero-container-right{
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    top: 120px;
    align-items: center;
    margin-right: 150px;
    margin-left: 300px;
}
#person-hero-image{
    width: 350px;
    height: auto;
    position: relative;
    left: 100px;
    margin-top: 70px;
}
#square-pattern{
    width: 280px;
    height: auto;
    position: fixed;
    z-index: -1;
    left: 230px;
    top: 450px;
}
.hero-heading{
    font-family: Orbitron;
    font-size: 50px;
    font-weight: 500;
}
.hero-description{
    font-family: Poppins;
    font-size: 14px;
    padding-top: 50px;
    color: #4b4a4a;
    margin-left: 80px;
    margin-right: 50px;
    text-align: center;
}
.btn{
    margin-top: 70px;
}
.btn button{
    border-radius: 10px;
    border: 2px solid #000;
    font-family: Orbitron;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    background-color: #fff;
    color: #000;
}
.button-email{
    width: 180px
}
.button-join{
    width: 110px;
    margin-left: 20px;
}
.btn button:hover{
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
.contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.icons{
    margin-top: 20px;
}
.icons img{
    width: 30px;
    padding: 0px 10px;
    cursor: pointer;
}
.nav-button{
    border-radius: 10px;
    border: 2px solid #000;
    font-family: Poppins;
    font-size: 16px;
    height: 30px;
    background-color: #fff;
    color: #000;
    width: 150px;
}
.search-icon{
    padding-right: 10px;
}
#globe-pattern{
    position: fixed;
    left: 800px;
    width: 50px;
}
#start-pattern{
    position: fixed;
    left: 1300px;
    top: 220px;
    width: 50px;
}